/* Universal Styles */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  text-align: center;
  padding: 0;
  max-width: 5000px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Jonathan';
  src: 
       url('./resources/fonts/Jonathan.ttf') format('truetype');
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #D9D9D9;
}

/* selected link */
a:active {
  color: #353535;
}



/* Header */

h1 {
  font-family: 'Jonathan';
  color: #ffffff;
  font-size: 4rem;
  letter-spacing: 1px;
  margin-top: 15px;
}

/* Nav */

nav {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  border: 1px solid #284B63;
  background-color: #353535;
  position: fixed;
  width: 98%;
  top: 0;
  height: 50px;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0 30px;
  align-items: center;
  margin: 0;
  margin-left: auto;
  cursor: pointer;
}

.navigation-item {
  margin: 30px;
  
}


/* Main */

.info-container {
  display: flex;
  padding: 300px;
  padding: 200px 0px 100px 100px;
}

.portrait {
  width: 300px;
  flex-shrink: 0;
  border-radius: 1000px;
  margin-left: 30px;
}

/* Projects */

/* Skills */

/* Footer */